{% extends 'shop/base.html' %}
{% load static %}

{% block title %}О нас | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/about_us.css' %}?" >
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">О нас</div>
</div>
{% endblock %}

{% block content %}
<div class="about-us-gl-section">

    <div class="about-us-gl-description-top">
        <div class="about-us-gl-description-title">
            <h2>О нас</h2>
        </div>
        <div class="about-us-gl-description-price">
            <div class="about-us-div-title">
                <h3>Оплата</h3>
            </div>
            <div class="about-us-div-content">
                <p>
                    Мы позаботились о том, чтобы оплата покупки была доступна в той форме, которую предпочитаете лично
                    вы.
                </p>
                <p>
                    Независимо от выбранной формы оплаты, расчет производится только в белорусских рублях.
                </p>
                <h2><span>Наличный расчет</span></h2>
                <p>
                    — Вы можете оплатить покупку при доставке, рассчитываясь с курьером наличными деньгами.
                </p>
                <p>
                    — Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе пункта выдачи товара.
                </p>
                <h2><span>Банковские карты</span></h2>
                <h3><span>Оплата банковской картой через терминал</span></h3>
                <p>
                    — Оплата курьеру при доставке. Сообщите выбранный способ оплаты во время заказа, и курьер приедет к
                    вам с терминалом.
                </p>
                <p>
                    — Также возможна оплата через терминалы во всех пунктах самовывоза.
                </p>
            </div>
        </div>

        <div class="about-us-gl-img-check">
            <div class="about-us-div-title">
                <h3>Образец документа подтверждающего факт оплаты:</h3>
            </div>
            <div class="about-us-div-content-img">
                <img src="{% static 'shop/images/chek.jpg' %}" alt="" class="about-us-images">
            </div>
        </div>
    </div>

    <div class="about-us-gl-description-middle">
        <div class="about-us-div-content">
            <h3><span>Как оплатить покупку в системе«Расчет» (ЕРИП):</span></h3>
            <p>
                1. Зайдите на сайт интернет-банка, системы электронных денег, либо используйте инфокиоск или терминал
                приема наличных денег.
            </p>
            <p>
                2. Найдите в меню пункт, содержащий название системы«Расчет» или ЕРИП
            </p>
            <p>
                3. Далее из списка выберите "Произвольный платеж"
            </p>
            <p>
                4. Если платеж осуществляется в кассе банка, сообщите кассиру о необходимости проведения платежа через
                систему ЕРИП.
            </p>
            <p>
                5. Затем введите в соответствующее поле или сообщите кассиру номер вашего заказа, полученный у менеджера
                при оформлении заказа.
            </p>
            <p>
                Подробный список способов и мест оплаты, а также другую интересующую вас информацию вы можете найти
                <a href="https://raschet.by/">на сайте системы «Расчет»</a>.
            </p>

            <h3><span>Банковский перевод</span></h3>
            <p>
                Оплатить товар Вы можете в отделении любого банка на территории Республики Беларусь. Для этого Вам
                необходимо связаться с менеджером нашего сайта, который подготовит счет для оплаты. С оригиналом или
                копией этого счета Вы обращаетесь к кассиру банка для проведения платежа. После поступления денежных
                средств на наш расчетный счет мы готовы отгрузить оплаченный товар.
            </p>
            <h2><span>Безналичный расчет для юридических лиц и ИП</span></h2>
            <p>Для юридических лиц и ИП есть возможность приобрести у нас любой товар по безналичному расчету. Цены на
                сайте включают НДС.</p>
            <h3>Если вам нужна консультация по вопросу безналичного расчета, вы можете обратиться к нам по e-mail
                info@viprest.by или по телефону +375 44 7700833.</h3>
        </div>
    </div>
</div>
{% endblock %}

