<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}kapkan-bel{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/playlist-favicon.ico">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}" ?>
    {% block style %}{% endblock %}
</head>
<body>
<header class="header">
    <div class="overlay">
        {% if request.user.is_authenticated %}
        <img src="{% static 'shop/images/user_icon.png' %}" >
        <a href="{% url 'profile' %}">Личный кабинет</a>
        {% endif %}
    </div>
</header>
<div class="scroll">

    <div class="menu">
        <div class="dropdown">
            <div class="menu-katalog">
                <p>Каталог</p>
            </div>
            <div class="dropdown-content">
                <a href="{% url 'home' %}">Главная</a>
                {% load tags %}
                {% get_categories as categories %}
                {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">
                    {{ category.name }} ({{ category.cnt }})
                </a>
                {% endfor %}
                <a href="">Видео</a>
                <a href="">Контакты</a>
            </div>
        </div>
        <div class="second-menu">
            <a href="" class="menu-link">Видео</a>
            <a href="" class="menu-link">Контакты</a>
            {% if request.user.is_authenticated %}
            Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}" class="menu-link">Выход</a>
            {% else %}
            <a href="{% url 'register' %}" class="menu-link">Регистрация</a>
            <a href="{% url 'login' %}" class="menu-link">Авторизация</a>
            {% endif %}
        </div>
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        <a href="{% url 'cart:cart_detail' %}">
            <div class="basket">
                <img src="{% static 'shop/images/basket.png' %}" alt="картинка корзины">
                <div class="basket-text">
                    <p> Корзина</p>
                </div>
                <div class="basket-text">
                    <p style="color: red;">{{ total_items }}</p>
                </div>
            </div>
        </a>
        {% else %}
        <a href="{% url 'empty_cart' %}">
            <div class="basket">
                <img src="{% static 'shop/images/basket.png' %}" alt="картинка корзины">
                <div class="basket-text">
                    <p> Корзина</p>
                </div>
                <div class="basket-text">
                    <p style="color: red;">0</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="background">
    {% if messages %}

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    {% endif %}

    {% block content %}
    {% endblock %}

</div>

<div class="footer-under">
</div>
<footer class="footer">
    <div class="footer-description">
        <p>123</p>
    </div>
    <div class="map">
        <div id="yandexmap" style="width: ; height: 246px">
            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script type="text/javascript" src="{% static 'shop/main.js' %}"></script>
        </div>
    </div>
</footer>
</body>
</html>
