{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Поиск | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/form.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" ?>
{% endblock %}

{% block content %}

<section class="content-category">
    <form action="" method="get">
        <div class="filter-div">
            <div class="filter-label">
                <p>Фильтр</p>
            </div>
            <div class="filter-price">
                <div class="filter-p-price">
                    <p>Минимальная цена </p>
                    <p class="p-kursiv">(BYN)</p>
                </div>
                <div class="global-div-filter-form-price">
                    <div class="div-filter-form-price">
                        {{ form.min_price }}
                    </div>
                    <div class="div-separator"></div>
                    <div class="div-filter-form-price">
                        {{ form.max_price }}
                    </div>
                </div>

            </div>

            <div class="filter-mark">
                <div class="filter-mark-p">
                    <p>Специальные предложения</p>
                </div>

                <div class="div-filter-checkbox">
                    <div class="div-filter-checkbox-in">
                        {{ form.is_new }}
                        <p>NEW</p>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <p><input type="submit" value="Перейти к товарам" class="button-check"></p>
    </form>

    {% for product in products %}
    <div class="card-category">
        <div class="card-div">
            {% if product.is_new %}
            <div class="position-sticker">
                <div class="stickers-top"><span class="diamont_st">new</span></div>
            </div>
            {% else %}
            {% if product.is_hit %}
            <div class="position-sticker">
                <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
            </div>
            {% endif %}
            {% endif %}
            <div class="card-div-image">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="card-image" alt="картинка {{ product.title }}">
                </a>
            </div>
            <h2 class="card-title-category">{{ product.title }}</h2>
            <div class="Price"><p>{{ product.price }} руб.</p></div>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
            </form>
        </div>
    </div>
    {% empty %}
    <div class="div-search">
        <p class="p-search">По вашему запросу ничего не найденно...</p>
    </div>
    {% endfor %}

</section>

{% endblock %}

{% block pagination %}

<div class="pagination">
    <ul class="pagination-div">
        {% if page_obj.has_previous %}
        <a href="?{{ s }}page={{ page_obj.previous_page_number }}" class="active" tabindex="-1">
            <li class="pagination-item active previous">Предыдущая</li>
        </a>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <a href="?{{ s }}page={{ p }}" class="active">
            <li class="pagination-item active">{{ p }}</li>
        </a>
        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
        <a href="?{{ s }}page={{ p }}">
            <li class="pagination-item">{{ p }}</li>
        </a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?{{ s }}page={{ page_obj.next_page_number }}" class="active">
            <li class="pagination-item active next">Следующая</li>
        </a>
        {% endif %}
    </ul>
</div>

{% endblock %}