{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/carousel.css' %}" ?>
{% endblock %}

{% block content %}

<section class="content">
    {% for category in categori %}
    <div class="card">
        <h2 class="card-title">{{ category.name }}</h2>
        <a href="{{ category.get_absolute_url }}">
            <img src="{{ category.image.url }}" class="card-image"
                 alt="картинка {{ category.name }}">
        </a>
    </div>
    {% endfor %}

    <div class="card center-margin">
        <h2 class="card-title">Видео</h2>
        <a href="">
            <img src="{% static 'shop/images/видео.png' %}" class="card-image" alt="картинка следового капкана">
        </a>
    </div>

</section>
{% if products %}
<div class="ant-carousel" id="first">
    <div class="ant-carousel-hider">
        <ul class="ant-carousel-list">
            {% for product in products %}
            <li class="ant-carousel-element">
                <div class="card-category-recommend">
                    <div class="card-div">
                        <div class="position-sticker">
                            <div class="stickers-top"><span class="diamont_st">хит</span></div>
                        </div>
                        <div class="card-div-image">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" class="card-image"
                                     alt="картинка {{ product.title }}">
                            </a>
                        </div>
                        <h2 class="card-title-category">{{ product.title }}</h2>
                        <div class="Price"><p>{{ product.price }} руб.</p></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="ant-carousel-arrow-left"></div>
    <div class="ant-carousel-arrow-right"></div>
    <div class="ant-carousel-dots"></div>
</div>
{% endif %}

<br>
<br>

{% endblock %}

{% block js %}
<script src="{% static 'shop/js/ant-carousel.js' %}"></script>
<script>new Ant("first"); new Ant("second");</script>
{% endblock %}