{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?" ?>
{% endblock %}

{% block content %}
<section class="content-detail">
    <div class="container-detail">
        <div class="image-div-detail">
            <img src="{{ product.image.url }}" class="image-detail" alt="картинка {{ product.title }}">
        </div>
        <div class="title">
            {{ product.title }}
        </div>
        <table style="">
            <tr>
                <th>Описание</th>
                <th>{{ product.description }}</th>
            </tr>
            <tr>
                <td>Цена</td>
                <td>{{ product.price }}</td>
            </tr>
        </table>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div>
</section>
{% endblock %}