{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/owl.carousel.min.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/owl.theme.default.min.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}?" ?>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">
        <a href="{% url 'category' slug=product.category.slug %}">{{ product.category.name }}</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">{{ title }}</div>
</div>
{% endblock %}

{% block content %}
<div class="content-detail">
    <div class="detail-gl-content-div">
        <div class="detail-title">
            <h1>{{ product.title }}</h1>
        </div>

        <div class="detail-gl-top">
            <div class="detail-img-gl-div">
                <div class="detail-img-div">
                    <div class="detail-img-main-empty"></div>
                    <div class="detail-img-main-content">
                        <a data-fancybox="images" href="{{ product.image.url }}" data-caption="fox1">
                            <img src="{{ product.image.url }}" class="detail-img-main"
                                 alt="картинка {{ product.title }}">
                        </a>
                    </div>
                    <div class="detail-img-main-empty"></div>
                </div>
                {% if product.images.all %}
                <div class="detail-gallery-div">
                    <div class="owl-carousel owl-theme ">
                        {% for image in product.images.all %}
                        <a data-fancybox="images" href="{{ image.image_gallery.url }}" data-caption="fox1">
                            <img src="{{ image.image_gallery.url }}" class="detail-gallery-img"
                                 alt="картинка {{ product.title }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="detail-price-info-gl-div">
                <div class="detail-empty-div"></div>

                <div class="detail-availability-div">
                    {% if product.manufacturer %}
                    <p>Производитель: {{ product.manufacturer }}</p>
                    {% endif %}
                    <p>Наличие:
                    {% if "unavailable" in product.status %}
                    <span style="color: #B22222;">нет в наличии</span>
                    {% else %}
                    {% if "available" in product.status %}
                    <span style="color: #4CAF50;">есть в наличии</span>
                    {% else %}
                    <span style="color: #FFA500;">ожидаются поставки</span>
                    {% endif %}
                    {% endif %}</p>
                    {% if product.model %}
                    <p>Модель: {{ product.model }}</p>
                    {% endif %}
                </div>

                <div class="detail-special-offers">
                    <div class="detail-special-offers-p">
                        <p>Специальные предложения:</p>
                    </div>
                    <div class="detail-position-sticker">
                        {% if product.is_new or product.is_hit %}
                        {% if product.is_new %}
                        <div class="detail-stiker">
                            <div class="stickers-top"><span class="diamont_st">new</span></div>
                        </div>
                        {% endif %}
                        {% if product.is_hit %}
                        <div class="detail-stiker">
                            <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
                        </div>
                        {% endif %}
                        {% else %}
                        <p>Для данного товара нет специальных предложений</p>
                        {% endif %}
                    </div>
                </div>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <div class="detail-price-div">
                        <p>{{ product.price }} руб.</p>
                        <input type="number" min="1" name="quantity" value="1" class="quantity-cart">
                    </div>
                    {{ item.update_quantity_form.update }}
                    <div class="detail-price-button-div">
                        <input type="submit" value="Добавить в корзину" class="button-check">
                    </div>
                    {% csrf_token %}
                </form>
            </div>

            <div class="detail-info-gl-div">
                <div class="detail-empty-div"></div>

                <div class="detail-info-div">
                    <div class="detail-info-title">
                        <p>Способы оплаты:</p>
                    </div>

                    <div class="detail-info-block">
                        <p>- наличными</p>
                        <p>- безналичный расчет</p>
                        <p>- наложенный платеж</p>
                        <p>- оплата картами Visa/MasterCard</p>
                    </div>
                </div>

                <div class="detail-info-div">
                    <div class="detail-info-title">
                        <p>Доставка товаров:</p>
                    </div>

                    <div class="detail-info-block">
                        <p>- курьером</p>
                        <p>- Белпочта</p>
                        <p>- Европочта</p>
                        <p>- самовывоз</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-gl-description">
        {{ product.description }}
    </div>
</div>

{% if product.main_product.all %}
<div class="content-category mg-auto pd-50-0">
    <div class="result-search">
        <p class="p-search-result center">C этим товаром также покупают:</p>
    </div>
    <div class="owl-carousel owl-theme">
        {% for product_rec in product.main_product.all %}
        <div class="card-category">
            <a href="{{ product_rec.recommend_product.get_absolute_url }}">
                <img src="{{ product_rec.recommend_product.image.url }}"
                     class="card-image" alt="картинка {{ product_rec.recommend_product.title }}">
            </a>
            <h2 class="card-title-category">{{ product_rec.recommend_product.title }}</h2>
            <div class="Price"><p>{{ product_rec.recommend_product.price }} руб.</p></div>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                <div class="hidden-block">{{ cart_product_form }}</div>
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину" class="button-check">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="{% static 'shop/js/fancybox_loop.js' %}?"></script>
<script src="{% static 'shop/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/js/script.js' %}" type="text/javascript"></script>
{% endblock %}