{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/owl.carousel.min.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/owl.theme.default.min.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/owl.css' %}?" ?>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">
        <a href="{% url 'category' slug=product.category.slug %}">{{ product.category.name }}</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">{{ title }}</div>
</div>
{% endblock %}

{% block content %}
<div class="content-detail">
    <div class="detail-gl-content-div">
        <div class="detail-title">
            <h1>{{ product.title }}</h1>
        </div>

        <div class="detail-gl-top">
            <div class="detail-img-gl-div">
                <div class="detail-img-div">
                    <div class="detail-img-main-empty"></div>
                    <div class="detail-img-main-content">
                        <a data-fancybox="images" href="{{ product.image.url }}" data-caption="fox1">
                            <img src="{{ product.image.url }}" class="detail-img-main"
                                 alt="картинка {{ product.title }}">
                        </a>
                    </div>
                    <div class="detail-img-main-empty"></div>
                </div>
                {% if product_images %}
                <div class="detail-gallery-div">
                    <div class="owl-carousel owl-theme ">
                        {% for image in product_images %}
                        <a data-fancybox="images" href="{{ image.image_gallery.url }}" data-caption="fox1">
                            <img src="{{ image.image_gallery.url }}" class="detail-gallery-img"
                                 alt="картинка {{ product.title }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="detail-price-info-gl-div">
                <div class="detail-empty-div"></div>

                <div class="detail-availability-div">
                    {% if product.manufacturer %}
                    <p>Производитель: {{ product.manufacturer }}</p>
                    {% endif %}
                    <p>Наличие:
                        {% if "unavailable" in product.status %}
                        <span style="color: #B22222;">нет в наличии</span>
                        {% else %}
                        {% if "available" in product.status %}
                        <span style="color: #4CAF50;">есть в наличии</span>
                        {% else %}
                        <span style="color: #FFA500;">ожидаются поставки</span>
                        {% endif %}
                        {% endif %}</p>
                    {% if product.model %}
                    <p>Модель: {{ product.model }}</p>
                    {% endif %}
                </div>

                <div class="detail-special-offers">
                    <div class="detail-special-offers-p">
                        <p>Специальные предложения:</p>
                    </div>
                    <div class="detail-position-sticker">
                        {% if product.is_new or product.is_hit or product_sale %}
                        {% if product.is_new %}
                        <div class="detail-stiker">
                            <div class="stickers-top"><span class="diamont_st">new</span></div>
                        </div>
                        {% endif %}
                        {% if product.is_hit %}
                        <div class="detail-stiker">
                            <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
                        </div>
                        {% endif %}
                        {% if product_sale %}
                        <div class="detail-stiker">
                            <div class="stickers-top hit" style="background-color: #B22222">
                                <span class="diamont_st">-{{ product_sale }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                        <p>Для данного товара нет специальных предложений</p>
                        {% endif %}
                    </div>
                </div>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <div class="detail-price-div">
                        <p>{{ product.get_price }} руб.
                            {% if product_sale %}
                            <span class="priceproduct-old">{{ product.price }} руб.</span>
                            {% endif %}
                        </p>
                        <input type="number" min="1" name="quantity" value="1" class="quantity-cart">
                    </div>
                    {{ item.update_quantity_form.update }}
                    <div class="detail-price-button-div">
                        <input type="submit" value="Добавить в корзину" class="button-check">
                    </div>
                    {% csrf_token %}
                </form>
            </div>

            <div class="detail-info-gl-div">
                <div class="detail-empty-div"></div>

                <div class="detail-info-div">
                    <div class="detail-info-title">
                        <p>Способы оплаты:</p>
                    </div>

                    <div class="detail-info-block">
                        <p>- наличными</p>
                        <p>- безналичный расчет</p>
                        <p>- наложенный платеж</p>
                        <p>- оплата картами Visa/MasterCard</p>
                    </div>
                </div>

                <div class="detail-info-div">
                    <div class="detail-info-title">
                        <p>Доставка товаров:</p>
                    </div>

                    <div class="detail-info-block">
                        <p>- курьером</p>
                        <p>- Белпочта</p>
                        <p>- Европочта</p>
                        <p>- самовывоз</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-gl-description">
        {{ product.description }}
    </div>
</div>

{% if recommend_products %}
<div class="content-category mg-auto pd-50-0">
    <div class="result-search">
        <p class="p-search-result center">C этим товаром также покупают:</p>
    </div>
    <div class="owl-carousel owl-theme">
        {% for product_rec in recommend_products %}
        <div class="category-card">
            <div class="category-gl-card-div">
                <div class="category-card-div-img">
                    <div class="category-card-div-img-content">
                        {% if product_rec.recommend_product.is_new %}
                        <div class="position-sticker">
                            <div class="stickers-top"><span class="diamont_st">new</span></div>
                        </div>
                        {% else %}
                        {% if product_rec.recommend_product.is_hit %}
                        <div class="position-sticker">
                            <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if not product_rec.recommend_product.is_new and not product_rec.recommend_product.is_hit %}
                        {% if product_rec.recommend_product.product_with_sale.first %}
                        <div class="position-sticker">
                            <div class="stickers-top hit" style="background-color: #B22222">
                                <span class="diamont_st">-{{ product_rec.recommend_product.product_with_sale.first.sale }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        {% elif product_rec.recommend_product.is_new or product_rec.recommend_product.is_hit %}
                        {% if product_rec.recommend_product.product_with_sale.first %}
                        <div class="position-sticker pd-50">
                            <div class="stickers-top hit" style="background-color: #B22222">
                                <span class="diamont_st">-{{ product_rec.recommend_product.product_with_sale.first.sale }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="category-card-div-image">
                            <a href="{{ product_rec.recommend_product.get_absolute_url }}">
                                <img src="{{ product_rec.recommend_product.image.url }}" class="category-card-image"
                                     alt="картинка {{ product_rec.recommend_product.title }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% if product_rec.title|length < 55 %}
                <div class="category-card-div-title height-15">
                    <h1><span>{{ product_rec.recommend_product.title }}</span></h1>
                </div>
                {% else %}
                <div class="category-card-div-title">
                    <h1><span>{{ product_rec.recommend_product.title }}</span></h1>
                </div>
                {% endif %}

                <div class="category-card-div-price">
                    <div class="category-card-div-Price">
                        <div class="category-card-div-Price-div">
                            <h3><span>{{ product_rec.recommend_product.get_price }} руб.</span></h3>
                        </div>
                        {% if product_rec.recommend_product.product_with_sale.first %}
                        <div class="category-card-div-Price-div-old">
                            <span class="priceproduct-old">{{ product_rec.recommend_product.price }} руб.</span>
                        </div>
                        {% endif %}
                    </div>

                    <div class="category-card-div-button">
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="hidden-block">{{ cart_product_form }}</div>
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину" class="button-check">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if last_products_in_temple %}
<div class="content-category mg-auto pd-50-0">
    <div class="result-search">
        <p class="p-search-result center">Просмотренные товары:</p>
    </div>
    <div class="owl-carousel owl-theme">
        {% for last_product in last_products_in_temple %}
        {% for last_product in last_product %}
        <div class="category-card">
            <div class="category-gl-card-div">
                <div class="category-card-div-img">
                    <div class="category-card-div-img-content">
                        {% if last_product.is_new %}
                        <div class="position-sticker">
                            <div class="stickers-top"><span class="diamont_st">new</span></div>
                        </div>
                        {% else %}
                        {% if last_product.is_hit %}
                        <div class="position-sticker">
                            <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if not last_product.is_new and not last_product.is_hit %}
                        {% if last_product.product_with_sale.first %}
                        <div class="position-sticker">
                            <div class="stickers-top hit" style="background-color: #B22222">
                                <span class="diamont_st">-{{ last_product.product_with_sale.first.sale }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        {% elif last_product.is_new or last_product.is_hit %}
                        {% if last_product.product_with_sale.first %}
                        <div class="position-sticker pd-50">
                            <div class="stickers-top hit" style="background-color: #B22222">
                                <span class="diamont_st">-{{ last_product.product_with_sale.first.sale }}%</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="category-card-div-image">
                            <a href="{{ last_product.get_absolute_url }}">
                                <img src="{{ last_product.image.url }}" class="category-card-image"
                                     alt="картинка {{ last_product.title }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% if last_product.title|length < 55 %}
                <div class="category-card-div-title height-15">
                    <h1><span>{{ last_product.title }}</span></h1>
                </div>
                {% else %}
                <div class="category-card-div-title">
                    <h1><span>{{ last_product.title }}</span></h1>
                </div>
                {% endif %}

                <div class="category-card-div-price">
                    <div class="category-card-div-Price">
                        <div class="category-card-div-Price-div">
                            <h3><span>{{ last_product.get_price }} руб.</span></h3>
                        </div>
                        {% if last_product.product_with_sale.all %}
                        <div class="category-card-div-Price-div-old">
                            <span class="priceproduct-old">{{ last_product.price }} руб.</span>
                        </div>
                        {% endif %}
                    </div>

                    <div class="category-card-div-button">
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="hidden-block">{{ cart_product_form }}</div>
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину" class="button-check">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endif %}

<br>
<br>
{% endblock %}

<div class="hidden-block">
    {% block pagination %}
    {% endblock %}
</div>

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="{% static 'shop/js/fancybox_loop.js' %}?"></script>
<script src="{% static 'shop/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/js/script.js' %}" type="text/javascript"></script>
{% endblock %}