{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Поиск | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/form.css' %}?" ?>
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">Поиск</div>
</div>
{% endblock %}

{% block content %}
<div class="content-category mg-auto">
    <div class="result-search">
        <p class="p-search-result">Результат поиска по запросу «{{ search }}»</p>
    </div>
    {% for product in products %}
    <div class="category-card">
        <div class="category-gl-card-div">
            <div class="category-card-div-img">
                <div class="category-card-div-img-content">
                    {% if product.is_new %}
                    <div class="position-sticker">
                        <div class="stickers-top"><span class="diamont_st">new</span></div>
                    </div>
                    {% else %}
                    {% if product.is_hit %}
                    <div class="position-sticker">
                        <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="category-card-div-image">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" class="category-card-image"
                                 alt="картинка {{ product.title }}">
                        </a>
                    </div>
                </div>
            </div>
            {% if product.title|length < 55 %}
            <div class="category-card-div-title height-15">
                <h1><span>{{ product.title }}</span></h1>
            </div>
            {% else %}
            <div class="category-card-div-title">
                <h1><span>{{ product.title }}</span></h1>
            </div>
            {% endif %}

            <div class="category-card-div-price">
                <div class="category-card-div-Price">
                    <h3><span>{{ product.price }} руб.</span></h3>
                </div>

                <div class="category-card-div-button">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        <div class="hidden-block">{{ cart_product_form }}</div>
                        {% csrf_token %}
                        <input type="submit" value="Добавить в корзину" class="button-check">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="div-search">
        <p class="p-search">По вашему запросу ничего не найденно...</p>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block pagination %}

<div class="pagination">
    <ul class="pagination-div">
        {% if page_obj.has_previous %}
        <a href="?{{ s }}page={{ page_obj.previous_page_number }}" class="active-pagination" tabindex="-1">
            <li class="pagination-item active-pagination previous">Предыдущая</li>
        </a>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <a href="?{{ s }}page={{ p }}" class="active-pagination">
            <li class="pagination-item active-pagination">{{ p }}</li>
        </a>
        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
        <a href="?{{ s }}page={{ p }}">
            <li class="pagination-item">{{ p }}</li>
        </a>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?{{ s }}page={{ page_obj.next_page_number }}" class="active-pagination">
            <li class="pagination-item active-pagination next">Следующая</li>
        </a>
        {% endif %}
    </ul>
</div>

{% endblock %}