{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Поиск | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/category.css' %}" ?>
{% endblock %}

{% block content %}

<section class="content-category">
    <div class="result-search">
        <p class="p-search-result">Результат поиска по запросу «{{ search }}»</p>
    </div>
    {% for product in products %}
    <div class="card-category">
        <div class="card-div">
            {% if product.is_new %}
            <div class="position-sticker">
                <div class="stickers-top"><span class="diamont_st">new</span></div>
            </div>
            {% else %}
            {% if product.is_hit %}
            <div class="position-sticker">
                <div class="stickers-top hit"><span class="diamont_st">хит</span></div>
            </div>
            {% endif %}
            {% endif %}
            <div class="card-div-image">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="card-image" alt="картинка {{ product.title }}">
                </a>
            </div>
            <h2 class="card-title-category">{{ product.title }}</h2>
            <div class="Price"><p>{{ product.price }} руб.</p></div>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
        </div>
    </div>
    {% empty %}
    <div class="div-search">
        <p class="p-search">По вашему запросу ничего не найденно...</p>
    </div>
    {% endfor %}
</section>
{% endblock %}