{% extends 'shop/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?" ?>
{% endblock %}

{% block title %}Восстановление пароля | {{ block.super }}{% endblock %}

{% block content %}

{% if validlink %}
<section class="content-detail">
    <h1>Введите новый пароль</h1>
    <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="div-form-label">{{ field.label_tag }}</div>
            <p>{{ field }}</p>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
        <input type="submit" value="Изменить пароль">
    </form>
{% else %}
{% endif %}
</section>

{% endblock %}