{% extends 'shop/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/password_reset.css' %}?" ?>
{% endblock %}

{% block title %}Восстановление пароля | {{ block.super }}{% endblock %}

{% block content %}
<section class="password-reset-content">
    <h1>Восстановление пароля</h1>
    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию,
        как установить новый пароль.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Восстановить мой пароль" class="button-check">
    </form>
</section>
{% endblock %}