button {
	border-radius: 4px;
	padding: 10px 24px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	border: none;
	outline: none;
}

.button-check {
	border-radius: 4px;
	padding: 10px 24px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	border: none;
	background-color: #4169E1;
}

.button-danger {
	background-color: #FF0000;
}

.button-footer-cart {
	margin: 15px 0 0 15px;
	display: inline-block;
}

input {
    outline: none;
}