table {
	width: 100%;;
	text-align: center;
	border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 1px solid #000;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
}

button {
	border-radius: 4px;
	padding: 10px 24px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	border: none;
}

.content-detail {
	width: 1200px;
	margin: auto;
	background-color: #FFF;
}

.table-cart {
	width: 100%;
	padding: 20px;
}

.cart-image {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.total-price {
	text-align: left;
}

.button-check {
	border-radius: 4px;
	padding: 10px 24px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	border: none;
	background-color: #4169E1;
}

.button-danger {
	background-color: #FF0000;
}

.footer-cart {
	text-align: right;
	border-bottom: none;
}

.button-footer-cart {
	margin: 15px 0 0 15px;
	display: inline-block;
}

.quantity-cart {
    width: 40px;
    margin-right: 5px;
}