.content-category {
  font-size: 0;
  width: 1020px;
  margin: 0 0 0 5px;
  padding-bottom: 0;
  padding-top: 60px;
  display: inline-block;
}
.category-card {
  width: 320px;
  height: 450px;
  margin: 0 10px 40px 10px;
  display: inline-block;
  background-color: #FFF;
}

.category-gl-card-div {
  height: 100%;
  width: 100%;
  font-size: 0;
  padding: 20px 20px 0 20px;
}

.category-card-div-img {
  height: 45%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.position-sticker {
    position: absolute;
    z-index: 1;
    width: 38px;
    height: 38px;
    vertical-align: top;
    text-align: left;
}

.stickers-top {
    width: 38px;
    height: 38px;
    background: #4CAF50;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 1px;
    position: relative;
}

.diamont_st {
    width: 38px;
    height: 38px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.category-card-div-img-content {
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.category-card-div-image {
  height: 100%;
  width: 100%;
}

.category-card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.category-card-div-title {
  height: 20%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.height-15 {
    height: 15%;
}

.category-card-div-price {
  height: 35%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}


.category-card-div-Price {
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 25px;
}

.category-card-div-Price span{
  background: #ffe400;
  font-size: 20px;
  padding: 7px 15px;
}

.category-card-div-button {
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 9px;
}

.div-search {
    width: 100%;
    height: 400px;
    background-color: #FFF;
    padding: 20px;
}

.result-search {
    width: 100%;
    height: 50px;
    background-color: #4CAF50;
    padding: 12px;
    margin-bottom: 20px;
}

.p-search {
  font-size: 22px;
  font-weight: 700;
}

.p-search-result {
  font-size: 22px;
  font-weight: 700;
  color: #FFF;
}

.center {
    text-align: center;
}

.carousel {
    width: 1024px;
    height: 410px;
    margin: auto;
    margin-bottom: 160px;
}

.mg-auto {
    margin: auto;
    display: block;
}