hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
}
label {
    font-size: 16px;
}

.checkbox input[type="checkbox"]:checked + label,
.checkbox input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label:before,
.checkbox input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
}

.checkbox input[type="checkbox"]:checked + label:before,
.checkbox input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 5px;
}

.checkbox input[type="checkbox"]:checked + label:after,
.checkbox input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.checkbox input[type="checkbox"]:checked + label:after,
.checkbox input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    padding: 1px 0 0 2.5px;
    border-left: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

.checkbox input[type="checkbox"]:checked + label:before {
    background: #277bbc;
    border-color: #277bbc;
}

.checkbox input[type="checkbox"]:hover + label:before {
    border-color: #277bbc;
}

.content-form {
	width: 800px;
	margin: auto;
}

.div-form {
    margin: 40px;
    padding: 20px;
    background-color: #FFF;
}

.div-form-60 {
    width: 60%;
    padding: 20px;
    background-color: #FFF;
}

.h1-form {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    font-size:20px;
}

.profile-h1-form {
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    font-size:20px;
}

.my-field-form {
	border:1px solid #C0C0C0;
    border-radius:5px;
    width:100%;
    height: 40px;
    margin: 10px 10px 10px 0;
    font-size:18px;
}

.comment {
	height: 160px;
}

.alert {
    color:red;
}

.div-form-label {
    width: 100%;
    font-size: 16px;
}

.profile-table-link {
  text-decoration: none;
  color: #000;
}

.profile-table-link:hover, .profile-table-link:active {
  color: #4CAF50;
}

.gl-div-filter {
    display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 25%;
}

.filter-div {
	background-color: #FFF;
	vertical-align: top;
	width: 300px;
	padding: 15px;
	margin-top: 60px;
}

.filter-label {
	width: 100%;
	height: 50px;
	padding: 15px 20px;
	background-color: #4169E1;
}

.filter-label p {
	font-size: 17px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
}

.filter-price {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #e7e7e7;
}

.filter-p-price {
	width: 100%;
	height: 40px;
	padding: 10px;
	margin-top: 15px;
	padding-left: 0;
}

.filter-p-price p{
	display: inline-block;
	font-size: 18px;
}

.p-kursiv {
	margin-left: 6px;
	color: #959595;
	font-style: italic;
	display: inline-block;
}

.div-filter-form-price {
	display: inline-block;
}

div-filter-checkbox-in label {
    font-size: 16px;
}

div-filter-checkbox-in p {
    font-size: 16px;
}

.global-div-filter-form-price {
    width: 100%;
    height: 50px;
}

.my-filter-field-form {
	border:1px solid #e7e7e7;
    border-radius:2px;
    height:35px;
    width:100px;
    font-size: 16px;
    padding-left: 10px;
}

.my-filter-field-form:hover, .my-filter-field-form:after {
	border:1px solid #4169E1;
}

input {
	outline:none;
}

.div-separator {
	display: inline-block;
	width: 5px;
	height: 35px;
}

.filter-mark {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.filter-mark-p {
	width: 100%;
	height: 50px;
	padding: 20px 0;
}

.filter-mark-p  p{
	font-size: 18px;
}

.div-filter-checkbox {
	width: 100%;
	margin-top: 10px;
}

.div-filter-checkbox-in {
	width: 100%;
	margin-bottom: 15px;
}

.profile-div-gl-form {
    width: 100%;
    padding: 20px;
}

.profile-div-form {
    width: 100%;
    border: 1px solid #555;
}

.profile-gl-div-order-search {
    width: 100%;
    padding: 0 20px;
}

.profile-div-order-search {
    width: 100%;
    height: 50px;
    background-color: #4169E1;
    padding: 12px;
}

.profile-p-search {
  font-size: 22px;
  font-weight: 700;
  color: #FFF;
}

.center {
    text-align: center;
}

.profile-search-empty {
    width: 100%;
    padding: 70px 20px;
    text-align: center;
}

.profile-search-empty p{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

@media screen and (max-width: 986px) {
    .filter-div {
        width: 450px;
        margin: 0 auto;
    }

    .gl-div-filter {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 840px) {
    .content-form {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .content-form {
        width: 420px;
    }
}

@media screen and (max-width: 450px) {
    .filter-div {
        width: 280px;
    }

    .filter-price {
        border-bottom: none;
    }

    .content-form {
        width: 300px;
    }
}

@media screen and (max-width: 340px) {
    .filter-div {
        width: 220px;
    }

    .filter-mark-p {
        margin-bottom: 20px;
    }
}
