.header {
	height: 276px;
	border-bottom: 2px solid #D3D3D3;
	font-size: 0;
}

.top-line {
	height: 36px;
	width: 100%;
	border-bottom: 1px solid #D3D3D3;
}

.div-top-line {
	width: 90%;
	height: 100%;
	font-size: 0;
	margin: auto;
	background-color: #FFF;
}

.top-line-text-line {
	display: inline-block;
	height: 100%;
	width: 80%;
}

.top-line-icon-line {
	display: inline-block;
	height: 100%;
	width: 20%;
	vertical-align: top;
	padding: 3px 0 0 5px;
}

.top-line-icon {
	height: 26px;
	width: 26px;
	object-fit: contain;
	margin-right: 15px;
}

.top-line-dropdown-content {
  	margin-top: 10px;
  	margin-left: -55px;
  	padding: 10px 10px 0 10px; 
  	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition-duration: 2s;
	opacity: 0; /* По умолчанию скрываем подменю */
	visibility: hidden;
	transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
	transition-duration: 0.3s; /* Добавляем анимацию 0.3 сек. */
	transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
}

.top-line-dropdown {
  	display: inline-block;
}

.top-line-dropdown:hover .top-line-dropdown-content {
  	opacity: 1;
  	visibility: visible;
}

.top-line-p {
	font-size: 14px;
	margin-bottom: 10px;
}

.overlay {
	height: 240px;
	width: 100%;
}

.logo {
	width: 22%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 10px 0;
	text-align: center;
}

.logo-img {
	height: 220px;
	width: 220px;
	object-fit: contain;
}

.div-header-middle {
	width: 56%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.div-header-info {
	width: 100%;
	height: 50%;
}

.header-info {
	width: 33.3%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 45px;
	text-align: left;
}

.header-info h2 {
	text-align: left;
	font-size: 16px;
	color: #696973;
	margin-bottom: 10px;
}

.header-info p {
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.div-header-search {
	width: 100%;
	height: 50%;
	padding-top: 25px; 
}

.my-field-form-search {
    border-radius:5px;
    width: 90%;
    height: 40px;
    margin: 10px 10px 10px 0;
    font-size:18px;
    margin: auto;
}

.search-icon {
	height: 26px;
	width: 26px;
	object-fit: contain;
}

.my-field-form-search input[type=text] {
  	padding: 10px;
  	font-size: 17px;
  	border: 1px solid grey;
  	float: left;
  	width: 88%;
  	background: #f1f1f1;
  	border-top-left-radius: 25px;
  	border-bottom-left-radius: 25px;
}

/* Style the submit button */
.my-field-form-search button {
  	float: left;
    width: 12%;
    padding: 6px;
    background: #4169E1;
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.my-field-form-search button:hover {
  	background: #4CAF50;
}

.div-header-right {
	width: 22%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.div-header-over-profile {
	width: 100%;
	height: 50%;
}

.div-header-profile {
	width: 100%;
	height: 50%;
}

.personal-account {
	width: 160px;
	height: 70px;
	padding: 10px;
	margin: auto;
	margin-top: 15px;
	border: 1px solid #D3D3D3;
}

.account-img-div {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.header-img {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

.account-p-div {
	height: 50px;
	width: 45px;
	display: inline-block;
	margin: 5px 0 0 10px;
	vertical-align: top;
}

.personal-account-a {
	color: #000;
	font-size: 17px;
  	text-decoration: none;
}

.personal-account-a:hover, .personal-account-a:active {
  color: #4CAF50;
}

/*
<div class="logo">
        
</div>

<div class="div-header-middle">
	<div class="div-header-info">
	  
	</div>

	<div class="div-header-search">	  
	</div>
</div>

<div class="div-header-right">
	<div class="div-header-over-profile">
	  
	</div>

	<div class="div-header-profile">
	  
	</div>
</div> */
