{% extends "shop/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/ordered.css' %}" ?>
{% endblock style %}

{% block title %}
Your shopping cart
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">Корзина</div>
</div>
{% endblock %}

{% block content %}
<section class="cart-content-detail">
    {% if cart|length > 0 %}
    <div class="cart-div-title">
        <h3>Ваша корзина</h3>
    </div>
    <div class="table-cart">
        <table class="table-cart">
            <tr>
                <th>Фото</th>
                <th>Товар</th>
                <th>Изменить количество</th>
                <th>Удалить</th>
                <th>Количество</th>
                <th>Цена за штуку</th>
                <th>Общая стоймость</th>
            </tr>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="cart-image">
                    </a>
                </td>
                <td>{{ product.title }}</td>
                <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        <input type="number" min="1" name="quantity" value="{{ item.quantity }}" class="quantity-cart">
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Обновить" class="button-check">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <a href="{% url 'cart:cart_remove' product.id%}">
                        <div>
                            <button class="button-danger">Удалить</button>
                        </div>
                    </a>
                </td>
                <td>{{ item.quantity }}</td>
                <td class="num">{{ item.price }} руб.</td>
                <td class="num">{{ item.total_price }} руб.</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="total">
                <th colspan="6" class="total-price">Общая цена</th>
                <th>{{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</th>
            </tr>
        </table>

        <div class="footer-cart">
            <div class="button-footer-cart">
                <a href="{% url 'cart:get_bonus_points' %}" class="button light">
                    <button class="button-check">Использовать бонусные баллы</button>
                </a>
            </div>
            <div class="button-footer-cart">
                <a href="{% url 'home' %}" class="button light">
                    <button class="button-check">В магазин</button>
                </a>
            </div>
            <div class="button-footer-cart">
                <a href="{% url 'orders:order_create' %}" class="button">
                    <button class="button-check">Оформить заказ</button>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="div-content">
        <div class="div-empty-cart">
            <p class="title-empty-cart">Ваша корзина пуста</p>
        </div>
        <div class="div-basket-empty">
            <img src="{% static 'shop/images/basket_05.png' %}" alt="" class="image-basket-empty">
        </div>
    </div>
    {% endif %}

</section>
{% endblock %}




