{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Авторизация | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" ?>
{% endblock %}

{% block content %}
<section class="content-detail">
    <h1>Авторизация</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-check">Авторизация</button>
    </form>
    <a href="{% url 'password_reset' %}"><button class="button-check">Забыли пароль?</button></a>
</section>
{% endblock %}