{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Авторизация | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/form.css' %}?" ?>
{% endblock %}

{% block content %}
<section class="content-form">
    <div class="div-form">
        <h1 class="h1-form">Авторизация</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="div-form-label">{{ field.label_tag }}</div>
            <p>{{ field }}</p>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <br>
            <button type="submit" class="button-check">Авторизация</button>
        </form>
        <br>
        <a href="{% url 'password_reset' %}">
            <button class="button-check">Забыли пароль?</button>
        </a>
    </div>
</section>
{% endblock %}