{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Профиль {{ user.username }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" ?>
{% endblock %}

{% block content %}
<section class="content-detail">
    <h1>Личный кабинет</h1>
    <p>Вы можете изменить ваши данные при помощи этой формы:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить изменения"></p>
    </form>
</section>
{% endblock %}