{% extends 'shop/base.html' %}
{% load static %}

{% block title %} Профиль {{ user.username }} | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/detail.css' %}?" ?>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/cart.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/form.css' %}?" >
{% endblock %}

{% block breadcrumbs %}
<div class="my-breadcrumbs">
    <div class="my-breadcrumbs-div"><a href="{% url 'home' %}">Главная</a>
        <p>»</p>
    </div>
    <div class="my-breadcrumbs-div">Личный кабинет</div>
</div>
{% endblock %}

{% block content %}
<section class="content-detail">
    <div class="profile-div-gl-form">
        <div class="profile-div-form">
            <h1 class="profile-h1-form">Личный кабинет</h1>
            <div class="div-form-60">
                <p>Вы можете изменить ваши данные при помощи этой формы:</p>
                <br>
                <form action="." method="post" enctype="multipart/form-data">
                    {% for field in user_form %}
                    <div class="div-form-label">{{ field.label_tag }}</div>
                    <p>{{ field }}</p>
                    {% if field.errors%}
                    {% for error in field.errors %}
                    <div class="alert">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% for field in profile_form %}
                    <div class="div-form-label">{{ field.label_tag }}</div>
                    <p>{{ field }}</p>
                    {% if field.errors%}
                    {% for error in field.errors %}
                    <div class="alert">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% csrf_token %}
                    <p><input type="submit" class="button-check" value="Сохранить изменения"></p>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="profile-gl-div-order-search">
        <div class="profile-div-order-search">
            <p class="profile-p-search center">Ваши заказы</p>
        </div>
    </div>

    {% if customer %}
    {% for order in customer %}

    <div class="table-cart">
        <h2 class="h1-form">Номер заказа: {{ order.pk }}</h2>
        <h2>Статус:
            {% if "new" in order.status %}
            Новый заказ
            {% else %}
            {% if "in_progress" in order.status %}
            Заказ в обработке
            {% else %}
            Заказ готов
            {% endif %}
            {% endif %}</h2>
        <br>
        <h2>Коментарий: {% if order.comment_for_order %}
            {{ order.comment_for_order|linebreaks }}
            {% else %}
            Нет комментария к заказу
            {% endif %}</h2>
        <br>
        <table>
            <tr>
                <th>Фото</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            {% for item in order.items.all %}
            <tr>
                <td>
                    <a href="{{ item.product.get_absolute_url }}">
                        <img src="{{ item.product.image.url }}" class="cart-image">
                    </a>
                </td>
                <td>
                    <a href="{{ item.product.get_absolute_url }}" class="profile-table-link">
                        {{ item.product.title }}
                    </a>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price_x_items }} руб.</td>
            </tr>
            {% if forloop.last %}

            {% endif %}
            {% endfor %}
            <tr>
                <th colspan="3" class="total-price">Общая цена</th>
                <th>{{ order.get_total_cost }} руб.</th>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    {% endfor %}
    {% else %}
    <div class="profile-search-empty">
        <p>В данный момент у Вас нет заказов</p>
    </div>
    {% endif %}

</section>
{% endblock %}

<div class="hidden-block">
    {% block pagination %}
    {% endblock %}
</div>